#ex01 .recipe {
  transition: 0.4s;
}

#ex01 .recipe:hover {
  scale: 1.1;
}

#ex02 .recipe img {
  transition: 0.4s;
}

#ex02 .recipe:hover img {
  transform: rotate(20deg);
}

#ex03 .recipe img {
  transition: 0.4s;
}

#ex03 .recipe:hover img {
  opacity: 0.7;
}

#ex04 .recipe h2 {
  transition: 0.4s;
}

#ex04 .recipe:hover h2 {
  transform: translateX(20px);
}

#ex05 .recipe h2 {
  transition: 0.4s 0.2s;
}

#ex05 .recipe:hover h2 {
  transform: translateX(20px);
}
